#wrappper {
    background-color: #fffbeb;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

img {
    max-width: 100%;
}

div,
img,
a {
    transition: all .4s;
    text-decoration: none;
    webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}

.mb,
.pad {
    display: none;
}

.pc {
    display: inline-block;
}

.poA {
    position: absolute;
}

.f_golden {
    color: #ba851b;
}

.f_red {
    color: #d70b24;
}

.f_golden {
    color: #b08534;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f21 {
    font-size: 21px;
}

.f24 {
    font-size: 24px;
}

.f30 {
    font-size: 30px;
}

.f36 {
    font-size: 36px;
}

.f40 {
    font-size: 40px;
}

.f45 {
    font-size: 45px;
}

.f48 {
    font-size: 48px;
}

.f55 {
    font-size: 55px;
}

.f72 {
    font-size: 72px;
}

.info {
    text-align: left;
    padding-top: 0;
    display: inline-block;
    cursor: pointer;
    transition: all .4s;
}

.f_right {
    float: right;
}

.f_left {
    float: left;
}

.t_left {
    text-align: left;
}

.t_right {
    text-align: right;
}

.t_center {
    text-align: center;
}

.f_white {
    color: #fff;
}

.f_black {
    color: #000;
}

.f_grey {
    color: #555;
}

.f_b {
    font-weight: bold;
}

.bg_white {
    background-color: #fff;
}

.bg_grey {
    background-color: #eeeeee;
}

.bg_blue {
    background-color: #daf0fe;
}

.bg_golden {
    background: #ba851b;
}

.bg_red {
    background: #d70b24;
}

.bg_trans_white {
    background: rgba(255, 255, 255, .7);
}

.bg_trans_black {
    background: rgba(0, 0, 0, .7);
}

.bg_trans_golden {
    background: rgba(186, 133, 27, .6);
}

.bg_yellow {
    background: #fffbeb;
}

.pb60 {
    padding-bottom: 60px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb30_all {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pb30 {
    padding-bottom: 30px;
}


.pb20 {
    padding-bottom: 20px;
}

.pb15 {
    padding-bottom: 15px;
}

.W100 {
    width: 100%;
}

.W67 {
    width: 67%;
    display: inline-block;
}

.W33 {
    width: 33%;
    display: inline-block;
}

.W40 {
    width: 40%;
    display: inline-block;
}

.W50 {
    width: 50%;
    display: inline-block;
}

.W60 {
    width: 60%;
    display: inline-block;
}

.W1200 {
    width: 100%;
    position: relative;
    max-width: 1200px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    margin-left: auto;
    margin-right: auto;
}

.W1050 {
    width: 100%;
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    font-size: 18px;
    display: inline-block;
    line-height: 45px;
    margin: 10px 0 5px;
    padding: 0 28px;
    cursor: pointer;
    border: 1px solid #ba851b;
    color: #ba851b;
    text-align: center;
}

.btn_golden {
    background-color: #ba851b;
    line-height: 45px;
    padding: 0 40px;
    max-width: 300px;
    cursor: pointer;
    text-align: center;
    transition: all .4s;
}

.title {
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.content {
    padding: 5px 0 15px;
    line-height: 1.6;
    display: inline-block;
    width: 100%;
}

.sec_title {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ba851b;
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-top: 45px;
    background-image: url(../img/title.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.sub_title {
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 1;
}


/* top */

#top {
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
    cursor: pointer;
}

.nav {
    float: right;
    margin-top: 15px;
}

.nav li {
    float: left;
    cursor: pointer;
    display: inline-block;
}

.nav li a {
    color: #000;
    padding: 10px;
    display: block;
    font-weight: bold;
    /* text-decoration: none; */
}

/* footer */
#footer {
    padding: 70px 20px;
}

#footer p {
    padding-bottom: 5px;
}

#footer li {
    width: 55px;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    position: relative;

}

#footer li img {
    width: 85%;
}

#footer li span {
    position: absolute;
    display: inline-block;
    padding: 5px;
    white-space: nowrap;
    background-color: #eee;
    font-size: 14px;
    color: #000;
    left: 50%;
    top: -35px;
    opacity: 0;
    transition: all .4s;
    transform: translate(-50%, 10px);
}

img.goTop {
    position: fixed;
    bottom: 25px;
    width: 60px;
    right: 25px;
    opacity: 0;
    transform: scale(0);
    cursor: pointer;
}

img.goTop.show {
    opacity: 1;
    transform: scale(1);
}

/* banner  */

#banner {
    position: relative;
    min-height: 50vh;
    max-height: 100vh;
    background: #000;
    overflow: hidden;
}

#banner>img,
#banner>video {
    opacity: .85;
}

#banner>div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 80px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: opacity .3s, transform .6s;
}

#banner>div .W1050 {
    text-align: left;
}

#banner .arrow {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0) scale(.7);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 18px 15px;
    background: rgba(225, 205, 152, 0.77);
    cursor: pointer;
    z-index: 50;
}


/* article */

.sec {
    padding-bottom: 20px;
}

.sec p,
.sec h6 {
    text-align: left;
}

.article {
    margin-bottom: 50px;
}


/* slider */

.slick-prev,
.slick-next {
    z-index: 30;
    width: 50px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px;
    background-image: url(../img/icon-05.png);
    margin-top: -50px;
    cursor: pointer;
    transition: all .4s;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
    transform: rotate(180deg)
}


/* æœ€ä¸‹åœ–ç‰‡ç²¾é¸è¼ªæ’­ */

.carousel_huge {
    margin-bottom: 60px;
}

.slide_item {
    position: relative;
}

.slide_item .bg_trans_black {
    bottom: 0;
    left: 0;
    position: absolute;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.6;
}

.slick-dots li.slick-active button {
    background-color: #ba851b;
}

#sec5 {
    padding-bottom: 90px;
}

.dl.btn {
    margin-left: 5px;
    margin-right: 5px;
}


/* mobile menu */

.menu_icon {
    width: 40px;
    height: 45px;
    margin: 5px 15px;
    float: right;
}

.menu_icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
    transition: all .4s;
}

.show.menu_icon span:first-child {
    transform: rotate(45deg) translate(-2px, 0);
    transform-origin: left bottom;
}

.show.menu_icon span:nth-child(2) {
    opacity: 0;
}

.show.menu_icon span:last-child {
    transform: rotate(-45deg) translate(-2px, 2px);
    transform-origin: left bottom;
}

.nav_bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 105vh;
    width: 100vw;
    opacity: 0;
}

.nav_bg.show {
    z-index: 199;
    opacity: 1;
}

.nav_bg.show_lb {
    z-index: 250;
    opacity: 1;
}



/* light box */

.lb {
    width: 92%;
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    padding: 20px;
    z-index: -1;
    text-align: left;
    opacity: 0;
}

.lb.show {
    opacity: 1;
    z-index: 5000;
}

.lb .detail {
    overflow: scroll;
    height: calc(90vh - 80px);
    width: 100%;
}

.lb .close {
    margin: -10px -10px 0;
}

.lb .close span:first-child {
    transform: rotate(45deg) translate(-2px, 0);
    transform-origin: left bottom;
}

.lb .close span:nth-child(2) {
    opacity: 0;
}

.lb .close span:last-child {
    transform: rotate(-45deg) translate(-2px, 2px);
    transform-origin: left bottom;
}

@media (min-width: 769px) {
    .nav li a:hover {
        color: #ba851b;
    }

    #banner:hover>div {
        transform: translate(0, 110%);
        opacity: 0;
    }

    .slick-next:hover,
    .slick-prev:hover {
        background-position-x: left;
    }

    .slick-slide img:hover {
        transform: scale(1.01)
    }

    #banner .arrow:hover {
        transform: translate(-50%, 0) scale(1);
    }

    .btn:hover {
        color: #fff;
        background-color: #ba851b;
    }

    #footer li:hover span {
        transform: translate(-50%, 0);
        opacity: 1;

    }

    img.goTop:hover {
        opacity: 1;
        transform: scale(1);
        cursor: pointer;
    }

    /* .slick-prev:hover {
  background-position-x: right;
} */
}

@media (max-width: 1050px) {
    /* .slide_item .bg_trans_black {
        padding-left: 20px;
        padding-right: 20px;
    } */
}

@media (max-width: 768px) {
    .pad {
        display: inline-block;
    }

    .red_title {
        font-size: 22px;
    }

    .f16 {
        font-size: 15px;
    }

    .f18 {
        font-size: 17px;
    }

    .f21 {
        font-size: 19px;
    }

    .f24 {
        font-size: 21px;
    }

    .f30 {
        font-size: 25px;
    }

    .f36 {
        font-size: 29px;
    }

    .f40 {
        font-size: 32px;
    }

    .f45 {
        font-size: 35px;
    }

    .f48 {
        font-size: 38px;
    }

    .f55 {
        font-size: 47px;
    }

    .f72 {
        font-size: 60px;
    }

    .title {
        font-size: 21px;
    }

    #banner>div {
        position: relative;
        background-color: #ba851b;
        padding: 20px 20px;
    }

    #banner .arrow {
        background: #b6861a;
        bottom: -28px;
    }

    #banner {
        overflow: visible;
    }

    .sec_title {
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 21px;
        background-size: 120px;
    }

    .slide_item .bg_trans_black {
        position: relative;
    }

    #sec5 {
        padding-bottom: 60px;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 80px;
        background-size: 50px;
        top: 30vw;
    }
}

@media (max-width: 450px) {
    .pc {
        display: none;
    }

    .mb {
        display: inline-block;
    }

    .W50,
    .W40,
    .W60 {
        width: 100%;
    }

    .f16 {
        font-size: 13px;
    }

    .f16 {
        font-size: 14px;
    }

    .f18 {
        font-size: 15px;
    }

    .f21 {
        font-size: 17px;
    }

    .f24 {
        font-size: 20px;
    }

    .f30 {
        font-size: 24px;
    }

    .f36 {
        font-size: 25px;
    }

    .f40 {
        font-size: 28px;
    }

    .f45 {
        font-size: 30px;
    }

    .f48 {
        font-size: 33px;
    }

    .f55 {
        font-size: 44px;
    }

    .f72 {
        font-size: 50px;
    }

    .btn {
        /* padding: 12px 0; */
        font-size: 16px;
        width: 90%;
        margin: 5px auto 12px;
    }

    .slick-prev,
    .slick-next {
        width: 30px;
        height: 80px;
        background-size: 50px;
        top: 30vw;
    }

    #sec5 {
        padding: 20px 20px 40px;
    }

    #top {
        height: 55px;
        position: fixed;
    }

    .logo {
        margin-top: 5px;
        margin-left: 12px;
    }

    .nav {
        display: block;
        background: #ffffff;
        width: 100%;
        position: fixed;
        /* position: absolute; */
        top: 55px;
        margin: 0;
        transform: translate(100%, 0);
        transition: all .4s;
    }

    .nav.show {
        transform: translate(0, 0);
    }

    .nav li {
        width: 100%;
        border-bottom: 1px solid rgba(182, 26, 26, 0.3);
        line-height: 40px;
    }

    .mb.hamburger {
        transform: scale(.9);
    }

    .more {
        display: inline-block;
    }

    div#banner {
        margin-top: 55px;
    }

    #footer {
        padding: 50px 0;
    }

    #footer ul {
        margin-bottom: 0;
        display: inline-block;
    }

    #footer li {
        width: 50%;
        padding-bottom: 30px;
        margin: 0 0 15px;
        float: left;
    }

    #footer li span {
        top: inherit;
        bottom: 10px;
        opacity: 1;
        font-size: 12px;
        background: transparent;

    }

    #footer li img {
        max-width: 46px;

    }

    .title,
    .content {
        line-height: 1.5;
    }

    .article {
        margin-bottom: 32px;
    }

    .mb_carousel {
        margin-bottom: 60px;
    }

    img.goTop {
        bottom: 15px;
        width: 45px;
        right: 15px;
    }
}

body>a {
    display: block;
    color: #ba851b;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    border-bottom: 1px solid hsla(42, 75%, 41%, 0.27);
}