.sec {
    padding-left: 20px;
    padding-right: 20px;
}

.article.W33 {
    width: 32%;
    float: left;
}

.W1050 .W33.center {
    margin-left: 2%;
    margin-right: 2%;
}

.btn {
    border-radius: 25px;
}

.btn.more {
    width: 100%;
}

@media (max-width: 450px) {
    .article.W33 {
        width: 90%;
        float: none;
    }
    .W1050 .W33.center {}
}