/* .sec {
    padding-left: 20px;
    padding-right: 20px;
} */

.btn {
    border-radius: 25px;
    background-color: #ba851b;
    color: #fff;
    padding: 0 30px;
}

.btn.more {
    width: 100%;
}

.btn.more:after {
    content: '';
    width: 45px;
    height: 40px;
    background-image: url(../img/icon-04.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right 2px;
    display: inline-block;
    margin-right: -15px;
}

.article.W50 {
    float: left;
}

.W1050 .article.W50:first-child {
    padding-right: 10px;
}

.W1050 .article.W50:last-child {
    padding-left: 10px;
}

.pic {
    width: 130px;
    margin: 0 12px 25px 0;
    float: left;
}

.pic:last-child {
    margin-right: 0;
}

#sec1 {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#sec1 .sec_title {
    margin-top: 60px;
    margin-bottom: 30px;
}

#sec1>.bg_white {
    margin-bottom: 300px;
    /* margin-top: 0; */
}

.f_left.W60 {
    padding-right: 20px;
}

.f_right.W60 {
    padding-left: 20px;
}

@media (max-width: 1050px) {}

@media (max-width: 450px) {
    .f_left.W60 {
        padding-right: 0;
    }
    .f_right.W60 {
        padding-left: 0;
    }
    .more.mb {
        border-radius: 0;
        background: transparent;
        color: #ba851b;
    }
    .more.mb::after {
        display: none;
    }
    .W1050.pb40 {
        padding-left: 0;
        padding-right: 0;
    }
    .W1050.pb40 .W40 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .W1050 .article.W50:first-child,
    .W1050 .article.W50:last-child {
        padding: 0;
    }
    .article.W50 {
        background-color: #fff;
    }
}