.more {
    display: none;
}

.dl.btn {
    background-color: #fff;
}


@media (min-width: 769px) {
    .dl.btn:hover {
        background-color: #ba851b;
    }
}

@media (max-width: 450px) {
    .slick-prev {
        left: -3px;
    }

    .slick-next {
        right: -3px;
    }
}