/* .sec {
    padding-left: 20px;
    padding-right: 20px;
} */

.article.W33 {
    width: 32%;
    float: left;
}

.W1050 .W33.center {
    margin-left: 2%;
    margin-right: 2%;
}

.btn {
    border-radius: 25px;
    background-color: #ba851b;
    color: #fff;
    padding: 0 30px;
}

.btn.more {
    width: 100%;
}

.btn.more:after {
    content: '';
    width: 45px;
    height: 40px;
    background-image: url(../img/icon-04.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right 2px;
    display: inline-block;
    margin-right: -15px;
}

#sec4 {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 450px) {
    .article.W33 {
        width: 90%;
        float: none;
    }
    .W1050 .W33.center {}
}